img {
    height: 250px;
    max-width: 100%;
    margin-left: 40%;
    margin-right: auto;
    margin-bottom: 15px;
  }
  
  .container {
    background: linear-gradient(to bottom, #d9e5f0, #99cde2, #d9e5f0);
    padding: 30px;
    border-radius: 8px;
  }
  
  .content {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .inputs input, label {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  .radios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
  }
  
  .form-check-input {
    margin-top: 15px;
  }

  .custom-select select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    margin-top: 8px;
    cursor: pointer;
  }
  
  .custom-select label {
    display: flex;
    margin-bottom: 8px;
    
  }
  
  button {
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background: #fff;
  }

  button:hover {
    background: #99cde2;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.4s;
  }

  hr {
    height: 5px;
    border-radius: 5px;
  }

  .hr1 {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .hr2 {
    width: 202.66px;
  }

  .hr2v {
    margin-top: 8px;
  }

  h1 {
    text-align: center;
  }