<nav>
  <img src="../assets/ggcgCimer.63f5e6457a9766.33434391.jpg" alt="img">
</nav>
<div class="container">
  <div class="content">
    <h1>Ciszterci Gárdonyi Géza Gimnázium és Kollégium</h1>
    <h3>Beiratkozás</h3>
    <p>Ha Ön több gyerekének szeretne időpontot foglalni,akkor minden gyerekéhez használjon különböző telefonszámot vagy hívja a titkárságot (+36/511 240).</p>
    <hr>
    <div class="inputs">
    <label>Oktatási azonosító:</label>
    <input type="text" name="" id="" placeholder="OKT. azonosító" required />
    <label>Diák neve:</label>
    <input type="text" name="" id="" placeholder="Diák neve" required />
    <label>Regisztráló szülő neve:</label>
    <input type="text" name="" id="" placeholder="Regisztráló szülő neve" required />
    <label>Szülő mobilszáma:</label>
    <input type="text" name="" id="" placeholder="Szülő mobilszáma" required /><br>
    <label>Képzéstípus / Tagozat kód:</label><br>
    
      <div class="custom-select">
        <label for="exampleSelect">Válassz egy elemet:</label>
        <select id="exampleSelect">
          <option>Elem 1</option>
          <option>Elem 2</option>
          <option>Elem 3</option>
          <option>Elem 4</option>
          <option>Elem 5</option>
        </select>
      </div>

    <div class="radios">
    <h1>Időpontfoglalás</h1>
    <p>(2023 március 2. Csütörtök, 2023 március 3. péntek) Kérem jelölje be a kívánt időpontot</p>

    <div class="form-check">
      <label class="form-check-label-text">2023 március 3. Csütörtök:</label><br>
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        14:00
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        14:30
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        15:00
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        15:30
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        16:00
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        16:30
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        17:00
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        17:30
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        18:00
      </label>
    </div><br>

    <div class="form-check">
      <label class="form-check-label-text">2023 március 3. Péntek:</label><br>
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        14:00
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        14:30
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        15:00
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        15:30
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        16:00
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        16:30
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        17:00
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        17:30
      </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        18:00
      </label>
    </div>
    <button type="button">Küldés</button>
  </div>
  </div>
</div>