<nav>
  <img src="" alt="">
</nav>

<div class="container">
  <div class="content">
    <h1>Ciszterci Gárdonyi Géza Gimnázium és Kollégium</h1>
    <p>Ha Ön több gyerekének szeretne időpontot foglalni,akkor minden gyerekéhez használjon különböző telefonszámot vagy hívja a titkárságot (+36/511 240).</p>
    <hr>
    <label>Oktatási azonosító:</label>
    <input type="number" name="" id="" required />
    <label>Diák neve:</label>
    <input type="text" name="" id="" required />
    <label>Regisztráló szülő neve:</label>
    <input type="text" name="" id="" required />
    <label>Szülő mobilszáma:</label>
    <input type="text" name="" id="" required />
    <label>Képzéstípus / Tagozat kód:</label>
    <input type="text" name="" id="" required />
    <hr>
    <h1>Időpontfoglalás</h1>
    <p>(2023 március 2. Csütörtök, 2023 március 3. péntek) Kérem jelölje be a kívánt időpontot</p>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Default radio
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Default checked radio
      </label>
    </div>

    
  </div>
</div>